<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Game Picker website</h1>
    <form action="/login" method="GET">
        <label for="lg">If you already have an account</label>
        <input type="submit" value="Login" id="lg">
    </form>

    <form action="/signup" method="GET">
        <label for="su">Create an account</label>
        <input type="submit" value="Sign up" id="su">
    </form>
</body>
</html>